@charset "UTF-8";

@media print {
    *{
        font-family: 'Courier New', Courier, monospace;

    }
    body{
        background-image: url(../images/back-print.jpg);/*Não funciona*/
    }
    main h1{
        text-shadow: none;
        color: black;
    }
main{
    border: 2px solid black;
}
main::after{
    content: "essa impressão veio do site g1.com";
    text-decoration: overline;
}

    #phone{display: none;}
    #print{display: block;}
    main::after{
    content: "essa impressão veio do site futirinhas.com";
}
} 

@media screen and (min-width: 768px) {
    body{
        background-image: url(../images/back-tablet.jpg);
    }
    #phone{display: none;}
    #tablet{display: block;}
}

@media screen and (min-width: 992px) {
    body{
        background-image: url(../images/back-pc.jpg);
    }
    #phone{display: none;}
    #pc{display:block;}
    #tablet{display: none;}
}

@media screen and (min-width: 1200px) {
    body{
        background-image: url(../images/back-tv.jpg);
    }
    #phone{display: none;}
    #pc{display:none;}
    #tablet{display: none;}
    #tv{display: block;}
}